<img class="spot-img" src="{{this.photos}}" alt="Card image">
<div class="spot-body">
  <h1 class="spot-title"><a href="/spot/profile/{{this._id}}">{{this.name}}</a> - {{this.rating}}</h1>
  <h2 class="spot-category">{{this.vegCategory}}</h2>
  <p class="spot-address">{{this.address}}</p>
  <p class="spot-text">{{this.description}}</p>
</div>