<section id="header-spot" class="blue p-3">
  <div class="d-flex flex-wrap justify-content-around">
    <div class="order-1 order-md-0 col-10 col-md-7">
      <h1 class="text-white">{{this.name}} - <img src="https://res.cloudinary.com/juliaramosguedes/image/upload/v1569688377/project-vegspot/star.png" alt="Rating Star" class="rating-star">{{this.rating}}</h1>
      <h2 class="text-white">{{this.vegCategory}}</h2>
      <h2 class="text-white">{{this.spotCategory}}</h2>
    </div>
    <div class="order-0 order-md-1 col-10 col-md-3 text-right">
      <button class="btn btn-info"><a href="/spot/edit/{{_id}}" class="text-white">Editar</a></button>
    </div>
  </div>
</section>
<section id="body-spot" class="py-4">
  <div class="d-flex flex-wrap justify-content-around">
    <div class="order-1 order-md-0 col-10 col-md-6 d-flex flex-wrap">
      <p class="col-10">{{this.address}}</p>
      <p class="col-10">{{this.phone}}</p>
      <p class="col-10">{{this.description}}</p>
    </div>
    <div id="map" class="order-0 order-md-1 col-10 col-md-4"></div>
  </div>
</section>
<section id="photos-spot" class="text-center py-4">
  <h1>Fotos</h1>
  <div id="carouselPhotosSpot" class="carousel slide d-flex justify-content-center" data-ride="carousel">
    <div class="carousel-inner col-10 col-md-6">
      <div class="carousel-item active">
        <img class="d-block w-100 carousel-photo" src="{{this.photos.[0]}}" alt="First slide">
      </div>
        {{#each googlePhotos }}
      <div class="carousel-item">
        <img class="d-block w-100 carousel-photo" src="{{this}}" alt="Google Photos slide">
      </div>
        {{/each}}
    </div>
    <a class="carousel-control-prev" href="#carouselPhotosSpot" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselPhotosSpot" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próxima</span>
    </a>
  </div>
</section>
<section id="reviews-spot" class="light-blue py-4">
  <h1 class="text-center text-white">Avaliações</h1>
  <div id="carouselReviewsSpot" class="carousel slide d-flex justify-content-center" data-ride="carousel">
    <div class="carousel-inner col-10">
      <div class="carousel-item active">
        <p class="carousel-review text-white">{{this.googleReviews.[0]}}</p>
      </div>
        {{#each googleReviews }}
      <div class="carousel-item">
        <p class="carousel-review text-white">{{this}}</p>
      </div>
        {{/each}}
    </div>
    <a class="carousel-control-prev" href="#carouselReviewsSpot" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselReviewsSpot" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próxima</span>
    </a>
  </div>
</section>
<input type="hidden" id="coord" name="coord" value={{this.coord}}>
<script src="/javascripts/profile.js"></script>