<div class="blue d-flex flex-wrap justify-content-around">
  <h1 class="text-white">{{this.name}} - {{this.rating}}</h1>
  <h2 class="text-white">{{this.vegCategory}}</h2>
  <h2 class="text-white">{{this.spotCategory}}</h2>
</div>
<div class="d-flex flex-wrap justify-content-around">
  <div class="order-1 order-md-0 col-10 col-md-7 d-flex flex-wrap">
    <p class="col-10 col-md-5">{{this.address}}</p>
    <p class="col-10 col-md-5">{{this.phone}}</p>
    <p class="col-10 col-md-5">{{this.description}}</p>
  </div>
  <div id="map" class="order-0 order-md-1 col-10 col-md-3"></div>
</div>


